.cy-navbar {
    height: 50px !important;
    line-height: 50px !important;
}

.el-menu-demo {
    border-bottom:0 !important;
}

.el-menu-item {
    height: 50px !important;
    line-height: 46px !important;
    margin-bottom:0 !important;
}

.el-icon-user  {
    margin-right: 0 !important;
}

.loginTag {
    height: 22px !important;
    width: 46px !important;
    line-height: 22px;
    border-radius: 1px;
}
.logo-setting {
    margin-right: 13.4rem !important;
    margin-bottom: 0 !important;
}

.navbar-user-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-user-name {
    font-size:13px;
}

.noBackground:hover  {
    background: rgb(50, 65, 72) !important;
}
.icon-cancelPadding {
    padding: 0 !important;
}
.icon-setPadding {
    padding: 0 14px 0 14px !important
}
.icon-color {
    color: #fff !important;
}
.icon-size {
    display: inline-block;
    width:100%;
}

.navbar-iconSize {
    height: 46px;
    width: 46px;
    line-height: 46px;
}

.popper-width {
    padding: 0 20px 0 20px;
    margin:0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more-info:hover {
    background: #fff;
}

.updated-icon-group {
    display: flex;
    float: right;
}

.icon-git-style, .icon-git-commit-style, .icon-git-merge-style {
    background: #fff;
    border: 2px solid;
    border-radius: 50%;
    line-height: 32px;
}

.icon-git-style {
    color: blue;
    border-color: blue;
}

.icon-git-commit-style {
    color: red;
    border-color: red;
}

.icon-git-merge-style {
    color: green;
    border-color: green
}

.update-fontsize {
    font-size:13px;
}

.media {
    margin-bottom: 20px;
}